/*网页基础样式*/
.line-limit-length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.avatar {
    border-radius: 50%;
    width: 40px;
}
.cc{
    border-left:4px solid #4a9c87;
    padding:10px 20px;
    background-color:rgba(0,0,0,.04);
    margin:10px 0 20px}
.avatar:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
a {
    color: inherit;
}
.article-img {
    cursor: pointer;
    transition: all 0.6s;
}

.article-img:hover {
    transform: scale(1.05);
}

.blog-column:hover{
    box-shadow:5px 5px 5px  #9d9d9d;
    transform: scale(1.01);
}
a:hover {
    text-decoration: none;
    color: #ea6f5a;
}

.h2,
h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 21px;

}