<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/ck.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <style>
        .cc{
            border-left:4px solid #4a9c87;
            padding:10px 20px;
            background-color:rgba(0,0,0,.04);
            margin:10px 0 20px;
        }

        .ck-editor__editable {
            min-height: 100px;
        }

        .gutter-right{
            margin: 5px 0px 0px 5px;
        }

        .comment-child{
            border-top: #1b6d85 1px dashed;
        }

    </style>
</head>
<nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-between">
    <a class="navbar-brand" href="/">Blogin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto f-17">
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/"><i class="fa fa-home"></i> 主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/gallery"><i class="fa fa-photo"></i> 摄影相册</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/tech"><i class="fa fa-steam"></i> 实用工具</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/aboutMe"><i class="fa fa-align-right"></i> 关于清水</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/backend/admin"><i class="fa fa-rocket"></i> Blogin</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-4 f-17" method="get" action="/search/">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入关键字" aria-label="Search" required="True">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
        {% if not g.normal_user %}
            <ul class="navbar-nav f-17">
                <li class="nav-item"><a class="nav-link" href="/auth/userLogin">登录</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/register">注册</a></li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="欢迎回来,{{ g.normal_user_name }}~">
                        <img class="avatar" src="{{ g.normal_user_avatar }}" alt={{ g.normal_user_name }}>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item pl-3" href="/accounts/profile"><i class="fa fa-fw fa-user text-info mr-2"></i>个人资料</a>
                        {% if ntf_counts %}
                            <a href="/accounts/profile" class="dropdown-item pl-3"><i class="fa fa-fw fa-bell text-info mr-2"></i>消息 <span class="badge badge-info">{{ ntf_counts }}</span>                        </a>
                        {% endif %}
                        <a class="dropdown-item pl-3" href="/auth/logout"><i class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>

</nav>


<body background="/static/img/墙.jpg">
<main>
    <div style="background: white; border: 1px solid#E1E0E0; border-radius: 5px; margin-bottom: 20px; margin-top: 20px;" class="container">

        {{ share.load() }}
        {{ ckeditor.load_code_theme() }}
        <h1 style="width: 100%;text-align: center;">
            <strong>{{title}}</strong>
        </h1>

        <div style="font-size: 17px; width: 100%; text-align: center;">
            <span class="badge badge-info"><i class="fa fa-file-text-o"></i> 原创</span>
            <span class="badge badge-success"><i class="fa fa-tag"></i> {{article_type}}</span>
            <span class="badge badge-secondary"><i class="fa fa-calendar"></i> {{create_time}}</span>
            <span class="badge badge-dark"><i class="fa fa-ticket"></i> {{read_times}}</span>
        </div>
        <hr>
        <article>
            {{article_content|safe}}
            <div class="cc">
                <div>版权声明：<i class="fa fa-cc-paypal"></i>原创不易,转载请注明出处～</div>
                <div>文章连接：<a style="color: #4a9c87" href="http://2dogz.cn/detail/article/{{ title }}">http://2dogz.cn/detail/article/{{ title }}</a></div>
            </div>
            <div class="text-center">
                {{ share.create(addition_class='text-center',title='') }}
            </div>
        </article>
        <hr>
        <div class="text-center">
            <button data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-success"><i class="fa fa-heart-o"></i>Donate</button>
            {#        <button class="btn btn-outline-info"><i class="fa fa-thumbs-o-up"></i>Like it</button>#}
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fa fa-coffee"></i>给作者买杯咖啡吧～</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="fa fa-close"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-weixin"></i>微信<img class="img-fluid" src="/static/donate/wechatpay.png">
                                </div>
                                <div class="col-md-6">
                                    <i class="fa fa-cc-paypal"></i>支付宝<img class="img-fluid" src="/static/donate/alipay.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 15px"  class="row">
            <div class="col-lg-6"><a class="text-info" href="{{ preLink }}">{{ preArticle }}</a></div>
            <div style="text-align: right;display: inline-block;" class="col-lg-6"><a class="text-info" href="{{ nextLink }}">{{ nextArticle }}</a></div>
        </div>
    </div>

    <div style="background: white; border: 1px solid#E1E0E0; border-radius: 5px; margin-bottom: 20px; margin-top: 20px;" class="container">
        {% if not g.normal_user %}
            <div style="background: #ddddee" class="text-center">
                <div class="card-body text-center m-2 m-md-3 f-16" id="no-editor">
                    <div>您尚未登录，请
                        <a class="text-danger" href="/auth/userLogin">登录</a> 或
                        <a class="text-danger" href="/auth/register">注册</a> 后评论
                    </div>
                </div>
            </div>
        {% else %}
            <div style="margin: 5px">
            <textarea name="comment-editor" id="comment-editor">
            </textarea>
                <div>
                    <p id="replyUser" class="float-left text-info ml-0" hidden="hidden"></p>
                    <p id="commentErrorHint" class="text-right text-danger ml-0" hidden="hidden">请输入评论内容后再提交</p>
                    <br>
                    <div>
                        <button hidden="hidden" class="btn btn-outline-danger round-3 float-right gutter-right" id="cancelReplyBtn">取消回复</button>
                        <button hidden="hidden" class="btn btn-outline-success round-3 float-right gutter-right" onclick="replyUserComment()" id="replyBtn">回复</button>
                        <button class="btn btn-outline-success round-3 float-right gutter-right" onclick="submitComment()" id="subCommentBtn">评论</button>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
        <p><strong>当前文章共有{{ comment_count }}条评论</strong></p>
        <hr>
        {% for comment in comments %}
            <div class="comment-parent pt-2" style="border: solid 2px #afd9ee; padding: 5px; border-radius: 5px;" id="com-814">
                <li class="media">
                    <img class="avatar" src="{{ comment[0][0] }}" alt="">
                    <div class="media-body ml-2">
                        <!-- 当用户没有登录时候,回复按钮不可见。 -->
                        {% if g.normal_user %}
                            <a class="float-right small mr-2 rep-btn" href="#comment-editor" data-repid="{{ comment[0][4] }}" data-repuser="{{ comment[0][1] }}" style="color: rgb(134, 142, 150);">回复</a>
                        {% endif %}
                        <p class="mt-0 mb-1">
                            <strong>{{ comment[0][1] }}</strong>
                            <i class="fa fa-user-circle" ></i>
                        </p>
                        <p class="small text-muted">
                            <span class="badge badge-info"><i class="fa fa-building-o"></i> {{ comment_count - loop.index0 }}楼 </span>
                            <span class="badge badge-success"><i class="fa fa-clock-o"></i> {{ comment[0][3] }}</span>
                        </p>
                    </div>
                </li>
                <div class="comment-body">{{ comment[0][2]|safe }}</div>
                {% if comment[1] %}
                    {% for child_comment in comment[1] %}
                        <ul class="list-unstyled ml-4">
                            <div class="comment-child pt-2" id="com-812">
                                <li class="media">
                                    <img class="avatar" src="{{ child_comment[0] }}" alt="{{ child_comment[1] }}">
                                    <div class="media-body ml-2">
                                        {% if g.normal_user %}
                                            <a class="float-right small mr-2 rep-btn" href="#editor-block" data-repid="{{ child_comment[4] }}" data-repuser="{{ child_comment[1] }}">回复</a>
                                        {% endif %}
                                        <p class="mt-0 mb-1">
                                            <strong>
                                                <a>{{child_comment[1]}}
                                                </a>
                                            </strong>
                                            <i class="fa fa-user-md"></i>
                                        </p>
                                        <p class="small text-muted"><span class="badge badge-warning"><i class="fa fa-calendar-times"></i> {{ child_comment[3] }}</span></p>
                                    </div>
                                </li>
                                <div class="comment-body">{{ child_comment[2]|safe }}</div>
                            </div>

                        </ul>
                    {% endfor %}
                {% endif %}
            </div><br>
        {% endfor %}
    </div>

</main>

<footer class="container-fluid mt-4 py-0">
    <div class="card-body text-center px-0 f-14">
        <p class="card-text mb-1">Copyright&nbsp;©&nbsp;<span id="year-info">2020</span>
            <a href="https://github.com/weijiang1994" target="_blank" title="博客作者的Github">Blogin</a>.&nbsp;Design&nbsp;by&nbsp;Flask1.01.
        </p>
        <p class="mb-0">
            <a href="http://beian.miit.gov.cn/" target="_blank">湘ICP备2020018236号-1</a>&nbsp;<span id="web-day"> 网站已续航 900 天</span>
        </p>
        <script>
            function getNewYear(){
                let d = new Date();
                let old = new Date('2020/08/28');
                let x = document.getElementById("year-info");
                x.innerHTML = d.getFullYear();
                let y = document.getElementById("web-day");
                let dd = Math.floor((d.getTime() - old.getTime()) / (24 * 3600 * 1000));
                let d_str = "| 网站已续航 " + dd + " 天";y.innerHTML=d_str;
            }
            getNewYear();
        </script>
    </div>
</footer>
<script>
    let editor;
    ClassicEditor.create( document.querySelector( '#comment-editor' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
            ]
        }
    } ).then(newEditor=>{
        editor = newEditor;
    })
        .catch( error => {
            console.log( error );
        } );

    // 提交文章评论
    function submitComment(){
        const comment = editor.getData();
        if (!comment){
            $("#commentErrorHint").removeAttr('hidden');
            return false;
        }
        $.ajax({
            url: '/detail/comment/',
            type: 'post',
            data: {'comment-editor': comment},
            success: function (){
                window.location.reload();
            }
        })
    }
    // 返回顶部
    $(window).scroll(function(){
        $('#to-top').hide();
        if ($(window).scrollTop()>=600){
            $('#to-top').show();
        };
    });

    $("#to-top").click(function () {
        let speed = 400;//滑动的速度
        $('body,html').animate({ scrollTop: 0 }, speed);
        return false;
    });

    // 点击回复按钮跳转到回复区
    function TOC_FUN(A) {
        $(A).click(function() {
            $(A).css("color", "#0099ff");
            $(this).css("color", "red");
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - 20
            }, 500);
            return false
        })
    }

    // 点击回复按钮
    $(".rep-btn").click(function(){
        let u = $(this).data('repuser');
        let i = $(this).data('repid');
        sessionStorage.setItem('rep_id', i);
        sessionStorage.setItem('receive_u', u);
        console.log(sessionStorage)
        $("#replyUser").text("回复 @"+u).removeAttr('hidden');
        $("#cancelReplyBtn").removeAttr('hidden');
        $("#replyBtn").removeAttr('hidden');
        $("#subCommentBtn").attr('hidden', 'true');
        $("#comment-editor").autofocus = true;
        $(".rep-btn").css("color", "#868e96");
        $(this).css("color", "red");
        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top - 20
        }, 500);
    });

    // 取消回复按钮
    $("#cancelReplyBtn").click(function (){
        $("#cancelReplyBtn").attr('hidden', 'true');
        $("#replyBtn").attr('hidden', 'true');
        $("#replyUser").attr('hidden', 'true');
        $("#subCommentBtn").removeAttr('hidden');
        $(".rep-btn").css("color", "#868e96");
    })

    //提交回复
    function replyUserComment(){
        let reply = editor.getData();
        if(!reply){
            $("#commentErrorHint").removeAttr('hidden');
            return false;
        }
        $.ajax({
            url: '/detail/replyComment/',
            type: 'POST',
            data: {'reply_comment': reply, 'receive_u': sessionStorage.getItem('receive_u'),
                'parent_id': sessionStorage.getItem('rep_id')},
            success: function (){
                window.location.reload();
            }
        })
    }
</script>
</body>
</html>