<!DOCTYPE html>
<html>

<head>
    <title>二狗的陈词滥调</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
    <a class="navbar-brand" href="/">Jmoyin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav container">
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/article">小白摄影</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/tech">小白工具</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/aboutMe">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/backend/admin">管理</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div style="border: 1px solid#E1E0E0; margin-bottom: 20px; margin-top: 20px;" class="container">
        {{ ckeditor.load_code_theme() }}
        <h1>
            <strong>{{title}}</strong>
        </h1>

        <div style="font-size: 17px;">
            <span class="badge badge-info">原创</span>
            <span class="badge badge-success">{{article_type}}</span>
            <span class="badge badge-secondary">{{create_time}}</span>
            <span class="badge badge-dark">{{read_times}}</span>
        </div>
        <hr>
        <article>
            {{article_content|safe}}
        </article>
        <hr>
        <div class="text-center">
            <button class="btn btn-danger rounded-0" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="true" aria-controls="sponsor-zfb sponsor-wx" style="line-height: 1;font-size: .8rem;">
                <i class="fa fa-cny"></i>
                    如果文章对你有所帮助，可以赞助本站
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
        <div class="row p-3">
    <div class="col text-center">
        <div class="multi-collapse collapse" id="sponsor-wx" style="">
            <div class="p-1 text-success">微信</div>
            <img class="w-75" src="https://tendcode.com/static/blog/img/reward_wx.png">
        </div>
    </div>
    <div class="col text-center">
        <div class="multi-collapse collapse" id="sponsor-zfb" style="">
            <div class="p-1 text-primary">支付宝</div>
            <img class="w-75" src="https://tendcode.com/static/blog/img/reward_zfb.png">
        </div>
    </div>
</div>
        <div style="margin-bottom: 15px"  class="row">

            <div class="col-lg-6"><a  href="{{ preLink }}">{{ preArticle }}</a></div>
            <div style="text-align: right;display: inline-block;" class="col-lg-6"><a href="{{ nextLink }}">{{ nextArticle }}</a></div>
        </div>
    </div>
    <script>

    </script>
</body>

</html>