<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/login/css/htmleaf-demo.css">
    <link href="../static/login/css/signin.css" rel="stylesheet">
    <title>后台登录</title>
</head>
<body>
<div class="htmleaf-container">
    <header class="htmleaf-header">
        <h1></h1>
        <div class="htmleaf-links">
        </div>
    </header>
    <div class="signin">
        <div class="signin-head"><img src="../static/login/images/test/410-120x120.jpg" alt="" class="img-circle"></div>
        <form class="form-signin" role="form">
            <input type="text" class="form-control" placeholder="用户名" required autofocus />
            <input type="password" class="form-control" placeholder="密码" required />
            <button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
        </form>
    </div>
</div>
</body>
</html>