<!DOCTYPE html>
<html lang="en">
<head>
    <title>清水的照片--{{ photo.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/gallery/style.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
<style>
    .border-card{
        border: 10px solid rgb(78 61 125 / 25%);
        margin: 0px 0px 5px 0px;
        border-radius: 10px;
    }
    .btn-group a{
        text-decoration: none;
        color: #000000;
    }
</style>
<nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-between">
    <a class="navbar-brand" href="/">Blogin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto f-17">
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/"><i class="fa fa-home"></i> 主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/gallery"><i class="fa fa-photo"></i> 摄影相册</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/tech"><i class="fa fa-steam"></i> 实用工具</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/aboutMe"><i class="fa fa-align-right"></i> 关于清水</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/backend/admin"><i class="fa fa-rocket"></i> Blogin</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-4 f-17" method="get" action="/searchPhoto/">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入关键字" aria-label="Search" required="True">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
        {% if not g.normal_user %}
        <ul class="navbar-nav f-17">
            <li class="nav-item"><a class="nav-link" href="/auth/userLogin">登录</a></li>
            <li class="nav-item"><a class="nav-link" href="/auth/register">注册</a></li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="欢迎回来,{{ g.normal_user_name }}~">
                    <img class="avatar" src="{{ g.normal_user_avatar }}" alt={{ g.normal_user_name }}>
                </a>
                <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item pl-3" href="/accounts/profile"><i class="fa fa-fw fa-user text-info mr-2"></i>个人资料</a>
                    <a class="dropdown-item pl-3" href="/comment/notification"><i class="fa fa-fw fa-bell text-info mr-2"></i>消息
                    </a>
                    <a class="dropdown-item pl-3" href="/auth/logout"><i class="fa fa-fw fa-sign-out text-info mr-2"></i>退出</a>
                </div>
            </li>
        </ul>
        {% endif %}
    </div>

</nav>
<div class="container">
    {{ share.load() }}
    <div class="row">
        <div class="col-md-8">
            <div class="border-card photo">
                <a href="{{ photo.photo }}" target="_blank">
                    <img src="{{ photo.photo }}" class="img-fluid">
                </a>
            </div>

            <div class="text-right">
                <p class="text-muted float-right small"><i class="fa fa-clock-o"></i> 发布于:{{ photo.updateTime }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div style="margin-bottom: 10px;" class="btn-group">
                {% if photo.preLink %}
                    <button type="button" class="btn btn-outline-info"><a href="{{ photo.preLink }}" ><i class="fa fa-arrow-circle-left"></i></a></button>
                {% endif %}
                {% if photo.nextLink %}
                    <button type="button" class="btn btn-outline-info"><a href="{{ photo.nextLink }}"><i class="fa fa-arrow-circle-right"></i></a></button>
                {% endif %}
            </div>
            <div class="card bg-light mb-3 w-100 sidebar-card">
                <div class="card-body">
                    <div class="row">
                        <img class="sidebar-avatar rounded avatar-m" src="/static/img/weijiang.png">
                        <div class="sidebar-profile">
                            <h6 class="card-title">
                                <a href="/"><span class="badge badge-pill badge-info">清水</span></a>
                            </h6>
                            <p class="card-subtitle mb-2 text-muted">清风徐来，水波不兴。</p>
                            <br>
                            <p class="card-subtitle mb-2 text-muted">　　　　　--苏轼《赤壁赋》</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-light mb-3 w-100">
                <div class="card-body">
                    <div id="description">
                        <p>
                            {{ photo.photoDesc }}
                        </p>
                    </div>
                    <div id="tags">
                        <p>
                            {% for tag in photo.tags %}
                                <a class="badge badge-light" href="/gallery/tag/{{ photo.tagIds[loop.index0]}}"><span class="fa fa-tags"></span> {{ tag }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button data-toggle="tooltip" data-placement="bottom" title="给{{ photo.title }}点赞～" class="btn btn-outline-info"><i class="fa fa-heartbeat"></i></button>
                        </div>
                        <div class="col-md-10">
                            {{ share.create(sites='weibo, wechat, qq, douban, qzone') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>