<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-between">
    <a class="navbar-brand" href="/">Blogin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto f-17">
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/"><i class="fa fa-home"></i> 主页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/gallery"><i class="fa fa-photo"></i> 摄影相册</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/tech"><i class="fa fa-steam"></i> 实用工具</a>
            </li>
            <li class="nav-item" style="margin-right: 50px;">
                <a class="nav-link" href="/aboutMe"><i class="fa fa-align-right"></i> 关于清水</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/backend/admin"><i class="fa fa-rocket"></i> Blogin</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-4 f-17" method="get" action="/search/">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="输入关键字" aria-label="Search" required="True">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
        <ul class="navbar-nav f-17">
            <li class="nav-item"><a class="nav-link" href="/auth/userLogin">登录</a></li>
            <li class="nav-item"><a class="nav-link" href="/auth/register">注册</a></li>
        </ul>
    </div>

</nav>
<main>
    <div class="container">

        <div style="margin-top: 20px;" class="row">
            <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
                <div class="card rounded-0 px-3 px-lg-4">
                    {% for message in get_flashed_messages() %}
                        <div style="margin-top: 5px;" class="text-center alert alert-danger" role="alert">
                            {{ message }}
                            <button type="button" class="close btn btn-small" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    <div class="card-header text-center bg-white py-2">
                        <h3 class="my-1 text-info">登录</h3>
                    </div>
                    <div class="card-body card-login">
                        <form class="login" method="POST" action="/auth/userLogin">
                            <input type="hidden" name="csrfmiddlewaretoken" value="7RG7fyRXxDfmOO8UnGZyDkCkrnfdWnMCJOAh8jVn8e7BsIhJdvyMkTJBZgsDw21I">
                            <div id="div_id_login" class="form-group"> <label for="id_login" class="col-form-label  requiredField">
                                账号<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="username" placeholder="用户名或e-mail" autofocus="autofocus" class="textinput textInput form-control" required="" id="id_login"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class="col-form-label  requiredField">
                            密码<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="password" placeholder="密码" class="textinput textInput form-control" required="" id="id_password"> </div> </div> <div class="form-group"> <div id="div_id_remember" class="form-check"> <label for="id_remember" class="form-check-label"> <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember">
                            记住我
                        </label> </div> </div>
                            <input type="hidden" name="next" value="/">
                            <a class="secondaryAction" href="/auth/password/reset">忘记密码了？</a>
                            <a class="secondaryAction" href="/auth/register">注册账号？</a>
                            <button class="pull-right btn btn-outline-success btn-mini rounded-3" type="submit">登录</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
</body>
</html>