<!DOCTYPE html>
<html>

<head>
    <title>二狗的陈词滥调</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="header-page">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="margin-right: 100px;" class="navbar-brand" href="/">
                        <img alt="2 Dog" src="../static/img/dog.png">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <li style="margin-right: 30px;"> <a href="/">主页</a></li>
                    <li style="margin-right: 30px;"><a href="/article">杂文</a></li>
                    <li style="margin-right: 30px;" class="active"><a href="/tech">技术</a></li>
                    <li style="margin-right: 30px;"><a href="/aboutMe">我</a></li>
                    <li><a href="/backend/admin">管理</a></li>
                </ul>
            </div>
        </div>
    </div>
</head>
</html>
